@media (min-width: 992px) {
  .ml-lg-6,
  .mx-lg-6 {
    margin-left: 5rem !important;
  }
}

header {
  border-style: solid;
  border-color: black;
  border-width: 0px 0px 2px 0px;
}

header .container-fluid,
#opening.container-fluid {
  max-width: 1200px;
}

.noisy {
  background-image: url(./../images/noisy.png);
  background-position: 50% 50%
}

.menu a,
footer a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

header .dropdown a {
  color: black;
  text-decoration: none;
}

header .dropdown .dropdown-menu {
  margin-left: 10px;
  margin-right: 10px;
}

header .dropdown .dropdown-divider{
  border-top: 1px solid black;
  border-style: dashed;
}

header button {
  border: none;
  background: none;
}

header button#search {
  background-color: yellow;
}

.menu .panel {
  display: flex;
  justify-content: center;
  align-items: flex-start
}

.menu .row {
  padding-top: 4px;
  padding-bottom: 4px;
}

.menu .in-evidenza a {
  display: inline-block;
  padding: 10px;
  line-height: 1;
  border: 2px solid black;
  width: auto;
  white-space: nowrap
}

.opening-stripe {
  position: absolute;
  background: #272727;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50%;
  z-index: -1;
}

#opening .card-img {
  display: flex;
}

@media (max-width: 767.98px) {
  #opening img.card-img {
    padding: 0px;
    margin: 0px;
  }
  #opening .row {
    justify-content: flex-end !important;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  #opening .card-img {
    max-width: 90%;
    max-height: 90%;
    vertical-align: bottom;
  }
  #opening h1 {
    max-width: 80%;
  }
  #opening .row {
    justify-content: flex-end !important;
  }
}

@media (min-width: 1200px) {
  #opening .card-img {
    max-width: fit-content;
    max-height: fit-content;
  }
  #opening h1 {
    max-width: 70%;
  }
  #opening .row {
    justify-content: center !important;
  }
}

#opening span {
  background-color: black;
  color: white;
  line-height: 1.4;
  font-size: clamp(31px,5.5vw,54px)
}

#opening span.card-author {
  font-size: clamp(20px,5.5vw,35px)
}

#opening.container-fluid {
  padding: 0px;
}

.card-img-overlay {
  position: absolute;
  padding: 0;
  margin: 0;
}

#primo-piano {
  background-color: #ededed;
}

#primo-piano a.card {
  text-decoration: none;
}

#primo-piano img {
  max-width: 100%;
  max-height: 100%;
  justify-content: center;
  align-items: center;
}

#primo-piano .card {
  width: fit-content;
}

#primo-piano .card-title {
  font-weight: bold;
  text-decoration: none;
}

#primo-piano .card-author a {
  border-bottom: 2px solid var(--azure);
}

#primo-piano #four-articles h4.card-title {
  font-size: 1rem;
  text-decoration: none;
}

#primo-piano #four-articles a {
  font-size: 0.9rem;
}

footer .row.bordered {
  border-style: solid;
  border-color: black;
  border-width: 2px 0px 2px 0px;
}

footer span{
  margin-bottom: 10px;
}

.social i.fa,
footer i.fa {
  font-size: 30px;
}

footer a.row {
  color: black;
  padding-left: 15px;
  margin-bottom: 5px;
  font-size: 1rem;
  text-decoration: none;
}