header {
  border-style: solid;
  border-color: black;
  border-width: 0px 0px 2px 0px;
}

header .container-fluid {
  max-width: 1200px;
}

.noisy {
  background-image: url(./images/noisy.png);
  background-position: 50% 50%
}

.menu a,
footer a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

header .dropdown a {
  color: black;
  text-decoration: none;
}

header .dropdown .dropdown-menu {
  margin-left: 10px;
  margin-right: 10px;
}

header .dropdown .dropdown-divider{
  border-top: 1px solid black;
  border-style: dashed;
}

.menu .panel {
  display: flex;
  justify-content: center;
  align-items: flex-start
}

.menu .row {
  padding-top: 4px;
  padding-bottom: 4px;
}

.menu .in-evidenza a {
  display: inline-block;
  padding: 10px;
  line-height: 1;
  border: 2px solid black;
  width: auto;
  white-space: nowrap
}

.opening-stripe {
  position: absolute;
  background: #272727;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50%;
  z-index: -1;
}

.card img {
  max-width: fit-content;
  max-height: fit-content;
}

#opening span.card-title  {
  background-color: black;
  color: white;
  max-width: 700px;
}

#opening.container-fluid {
  padding: 0px;
}

#primo-piano {
  background-color: #ededed;
}

#primo-piano .card {
  width: fit-content;
}

#primo-piano .card-title {
  font-weight: bold;
}

#primo-piano .card-author a {
  border-bottom: 2px solid var(--azure);
}

#primo-piano #four-articles h4.card-title {
  font-size: 1rem;
}

#primo-piano #four-articles a {
  font-size: 0.9rem;
}

footer .row.bordered {
  border-style: solid;
  border-color: black;
  border-width: 2px 0px 2px 0px;
}

footer span{
  margin-bottom: 10px;
}

footer a.row {
  padding-left: 15px;
  margin-bottom: 5px;
  font-size: 1rem;
  text-decoration: none;
}